p {margin: .5rem 0}
p:first-child {margin-top: 0}
p:last-child {margin-bottom: 0}
strong.invalid {color: #aa0808}
html { height: 100%; color: #1d2d3e; scrollbar-color: #7b91a8 #fff; overflow: hidden}
body.mce-content-body {
    height: calc(100% - 1.125rem);
    width: calc(100% - 1.375rem);
    background-color: #fff;
    overflow: auto;
    font-size: .875rem;
    margin: .1875rem;
    padding: .375rem .5rem;
}
body.mce-content-body::before {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 0.125rem);
    width: calc(100% - 0.125rem);
    z-index: -1;
    background-color: #fff;
    border-radius: .25rem;
    border: solid .0625rem rgba(85, 107, 129, 0.25);
    border-bottom-color: #556b81;
    content: ''
}
body.mce-content-body:not(.mce-content-readonly):hover::before {
    border-color: rgba(79, 160, 255, 0.5);
    border-bottom-color: #0064d9;
}
body.mce-content-body:focus::before,
body.mce-content-body:focus:hover::before {
    border-color: #0064d9;
    box-shadow: inset 0 0 0 .0625rem #0064d9;
}
body.mce-content-readonly::before {
    background-color: #f5f6f7;
    border-color: #d6dadf;
    border-bottom-color: #556b81;
    border-bottom-style: dashed;
}
